* {box-sizing: border-box;}
body {
    margin: 0;
    background-color: white;
}
.wadahLayar {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 20%;
}
.layar {
    width: 100%;
    text-align: right;
    font-size: 50px;
    background-color: yellow;
    border: 9px solid blue;
}
.wadahTombol {
    border: 9px solid blue;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 20%;
    width: 100%;
    height: 80%;
}

button {
    display: inline-block;
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
button:active {
    background-color: lightgreen;
}